*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #008000;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}

body{
    height: 100vh;
}

header{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

header>img{
    height: 6rem;
}

nav{
    display: flex;
    margin: 1rem;
}

nav>li{
    list-style-type: none;
    padding: 0 1rem;
    font-size: 1.25em;
}

nav a{
    text-decoration: none;
}

.main{
    text-align: center;
    margin: 10% 15%;
    overflow:visible
}

.main>h1{
    font-size: 5rem;    
}

.main>h2{
    font-size: 3rem;
    line-height: 6rem;
}

.main>a{
    font-size: 2rem;
    text-decoration: none;
}

.cursor{
    visibility: hidden;
}

.page-title{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.projects{
    padding: 1rem;
    margin: 0 5%;
    display: flex;
    justify-content: space-evenly;
    align-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
}

.project{
    text-align: center;
    width: 25em;
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgb(30, 30, 30);
}

.project>a, .project>a>*{
    background-color: rgb(30, 30, 30);
    text-decoration: none;
}

.project>a>img{
    margin: 0.5rem auto;
    width:100%;
    border-radius: 0.5rem; 
}

.resume{
    margin: 0 25%;
}

.resume>iframe{
    width: 100%;
    height: 75vh;
}

.contact{
    display: flex;
    padding: 2% 5% 0% 5%;
    flex-wrap: wrap;
}

.contact>iframe{
    width: 50%;
    height: 25em;
    padding-right: 1em;
    border: none;
    border-right: 5px solid #008000;
}

form{
    width: 50%;
    padding-left: 1em;
    padding-right: 1em ;
}

form>h2{
    font-size: 2em;
    text-align: center;
}

label{
    margin-bottom: 0.5em;
    margin-top: 0.75em;
    font-size: 1.5em;
    display: block;
}

input{
    width: 100%;
    border-color: white;
    height: 2em;
    padding: 1em;
}

textarea{
    width: 100%;
    height: 20%;
    border-color: white;
    padding: 1em;
}

#name-label{
    margin-top: 0;
}

#submit{
    display: block;
    width: auto;
    height: auto;
    margin: 0.5em auto;
    text-align: center;
    font-size: 1.25em;
    padding: 0.2em;
}

@media (max-width: 640px) {
    nav{
        flex-direction: column;
    }

    .contact{
        flex-direction: column;
    }

    .contact>*{
        width: 100%;
    }

    .contact>iframe{
        border: none;
        padding: 0;
        padding-bottom: 1em;
        border-bottom: 5px solid #008000;
        margin-bottom: 1em;
        width: 100%;
    }
}